.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .filter-holder {
    background-color: #f4f5f7;
  }
  .holder:nth-child(1) {
    border-right: 8px solid #ffffff;
    padding-left: 10px;
    padding-bottom: 33px;
    padding-right: 18px;
    height: 100%;
  }
  .filter-container {
    padding-bottom: 10px;
  }
  .filter-heading {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .ram-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    justify-content: space-between;
    .holders {
      padding: 0 8px 18px 0px;
    }
  }
  .filter-btn {
    padding-top: 30px;
    display: flex;
    padding-right: 5px;
  }
  .price {
    color: #83b91e;
    font-weight: bold;
  }
  .no-content {
    text-align: center;
    font-weight: bold;
    background-color: #fff;
  }
  .clear-btn {
    margin-left: 10px;
  }
}

.progressSpinner {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 111;
}

.container-blur {
  filter: blur(5px);
}
