/* You can add global styles to this file, and also import other style files */
.p-datatable .p-datatable-tbody > tr {
  background-color: #f4f5f7 !important;
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-highlight):hover {
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 40%);
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff !important;
}

.ngx-slider {
  width: 93% !important;
}

.location-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
.p-dropdown .p-dropdown-label {
  width: 146px !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
